@{
    ViewData["Title"] = "Home";
    ViewData["SourceFiles"] = new List<string>
    {
        "Views/Home/Index.cshtml",
        "wwwroot/js/index.js",
        "Controllers/HomeController.cs",
        "Controllers/EmbedInfoController.cs",
        "Services/PbiEmbedService.cs",
        "Models/EmbedParamsReport.cs"
    };
}
    <main class="row h-75">
        <section id="text-container" class="embed-container col-12">
            <button id="filter">Only Wisconsin</button>
            <button id="remove-filter">Remove all Filters</button>
        </section>
        <section id="report-container" class="embed-container col-12 h-100">
        </section>

        <!-- Used to display report embed error messages -->
        <section class="error-container m-5">
        </section>
    </main>
    @section Scripts {
        <script src="js/index.js"></script>
    }
