@{
    ViewData["Title"] = "White Labelling";
    ViewData["SourceFiles"] = new List<string>
    {
        "Views/WhiteLabel/Index.cshtml",
        "wwwroot/css/whitelabel.css",
        "wwwroot/js/whitelabel.js",
        "Controllers/WhiteLabelController.cs",
        "Controllers/EmbedInfoController.cs",
        "Services/PbiEmbedService.cs"
    };
}
<main class="row h-75">
    <section id="overlay">
        <img id="spinner" src="~/loading.gif" />
    </section>
    <section id="report-container" class="embed-container col-lg-offset-4 col-lg-12 col-md-offset-5 col-md-12 col-sm-offset-5 col-sm-12 h-100">
    </section>

    <!-- Used to display report embed error messages -->
    <section class="error-container m-5">
    </section>
</main>
@section ExtraCss {
    <link rel="stylesheet" href="css/whitelabel.css">
}
@section Scripts {
    <script src="js/whitelabel.js"></script>
}
